.articleItem {
    margin-top: 2em;
    margin-left: 1em;
    margin-right: 1em;
    padding: 10px 25px 20px;
    width: 55rem;
    border: 2px solid #CB0000;
    border-radius: 15px;
    box-shadow: 0 15px 10px gray;
    background-color: #EEEEEE;
    display: flex;
    background-image: linear-gradient(to right, #FFC1CC, #EEEEEE 15%);
}

.title {
    color: #CB0000;
}

.main {
    text-align: right;
}

.dateTime {
    font-weight: bold;
}

.articleImage {
    width: 30%;
}

.articleContent {
    width: 70%;
}
