.articleItem {
    margin-top: 2em;
    margin-left: 1em;
    margin-right: 1em;
    padding: 10px 25px 20px;
    width: 20rem;
    border: 2px solid #CB0000;
    background-color: #EEEEEE;
    display: flex;
    background-image: linear-gradient(to right, #FFC1CC, #EEEEEE 15%);
}

.title {
    color: #CB0000;
    font-size: 1.65rem;
}

.main {
    font-size: 1.1rem;
}

.text {
    font-size: 1.1rem;
}

.dateTime {
    font-weight: bold;
}

.articleImage {
    width: 55%;
}
