.articles {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-column-gap: 30px;
    background: #999;
    padding: 50px;
    min-width: 24.8rem;
}

@media only screen and (max-width: 600px) {
  .articles {
    background: lightgray;
  }
}
