.header{
    display: flex;
    flex-flow: flex wrap;
    background-color: #CB0000;
    color: white;
    height: 8rem;
    padding: 4rem;
    align-items: center;
    justify-content: space-between;
    min-width: 23rem;
}

.title{
    font-size: 2.1rem;
    font-weight: bold;
}

.time{
    font-size: 1.2rem;
}

@media (max-width: 600px) {
    .title {
        font-size: 1.5rem;
    }
    .time {
        font-size: 1rem;
    }
}
